h1 {
    margin:0;
    display: inline-block;
}

div#container {
    background-color:#E0FFFF;
    width:960px;
    margin:0 auto 0 auto;
    height:auto;
}

div#header {
    text-align: justify;
    padding:5px 10px 5px 5px;
    background-color: #B5DCE8;
}

div#header:after{
    content:'';
    display:inline-block;
    width:100%
}

nav#headernav {
    display:inline-block;
    vertical-align: baseline;
}

div#sivupalkki {
    width:200px;
    margin: 0 0 0 0;
    padding: 5px 0 5px 5px;
    float: left;
}

div#content {
    float: right;
    margin:0 0 0 0;
    padding:10px 0 20px 0;
    width:755px;
}

ul.nav {
    list-style-type:none;
    margin:0;
    padding:0;
} 

p#error {
color: red;
}
